{% extends 'base.html' %}
{% block content %}

<h1>Details: {{ exercise.name }}</h1>

<form action='/addexercises/{{exercise.exercise_id}}' method="POST">
    <p>
        <br>
        <label> Select set number</label>
        <select name="numberofsets">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <br>
        <label> Enter reps for each set</label>
        <input type="text" name="reps" required>
        <select name="repunit">
            <option value="Kilometers">Kilometers</option>
            <option value="Miles">Miles</option>
            <option value="Minutes">Minutes</option>
            <option value="Repetitions">Repetitions</option>
            <option value="Seconds">Seconds</option>
            <option value="Until Failure">Until Failure</option>
        </select>

        <br>
        <label> Enter weights for each rep</label>
        <input type="text" name="weights">
        <select name="weightunit">
            <option value="Body Weight">Body Weight</option>
            <option value="kg">kg</option>
            <option value="Kilometers Per Hour">Kilometers Per Hour</option>
            <option value="lb">lb</option>
            <option value="Miles Per Hour">Miles Per Hour</option>
            <option value="Plates">Plates</option>
        </select>

    </p>
    <div>
        <!-- <a href="/search/{}"> --><input type="submit" name="submit">
    </div>

</form>

{% endblock %}
