{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/todaydashboard">
        <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Fitastic
    </a>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ session['username'] }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </li>
    </ul>
</nav>


<div>
<h3>Search Exercises:</h3>
<form id="exercise-form" action="/choose_training_day" method="GET">
    <h4>Equipment:</h4>
    <select name="equipment" class="equipment_checkboxes selectpicker">
        <option value="">At Gym</option>
        <option value="Barbell"> Barbell</option>
        <option value="Bench"> Bench</option>
        <option value="Dumbbell"> Dumbbell</option>
        <option value="Gym mat"> Gym mat</option>
        <option value="Incline bench"> Incline bench</option>
        <option value="Kettlebell"> Kettlebell</option>
        <option value="none (bodyweight exercise)"> none (bodyweight exercise)</option>
        <option value="Pull-up bar"> Pull-up bar</option>
        <option value="Swiss Ball"> Swiss Ball</option>
        <option value="SZ-Bar"> SZ-Bar</option>
        
    </select>
    <h4>Body Parts:</h4>
    <select name="category" class="category_checkboxes selectpicker">
        <option value="Abs">Abs</option>
        <option value="Arms">Arms</option>
        <option value="Back">Back</option>
        <option value="Calves">Calves</option>
        <option value="Chest">Chest</option>
        <option value="Legs">Legs</option>
        <option value="Shoulders">Shoulders</option>
        
    </select>
     <div>
    <br>
    <input id="exercise_submit" type="submit" name="submit">
    </div>
</form>
</div>
</div>

<div id="exercise_result">
</div>

<div class="detail-form">
    <form id="detail-form" action="/addexercises" method="POST">
    <p>
        <br>
        <label> Select set number</label>
        <select name="numberofsets" id="set">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <br>
        <label> Enter reps for each set</label>
        <input type="text" name="reps" id="rep" required>
        <select name="repunit" id="repunit">
            <option value="Kilometers">Kilometers</option>
            <option value="Miles">Miles</option>
            <option value="Minutes">Minutes</option>
            <option value="Repetitions">Repetitions</option>
            <option value="Seconds">Seconds</option>
            <option value="Until Failure">Until Failure</option>
        </select>

        <br>
        <label> Enter weights for each rep</label>
        <input type="text" name="weights" id="weights">
        <select name="weightunit" id="weightunit">
            <option value="Body Weight">Body Weight</option>
            <option value="kg">kg</option>
            <option value="Kilometers Per Hour">Kilometers Per Hour</option>
            <option value="lb">lb</option>
            <option value="Miles Per Hour">Miles Per Hour</option>
            <option value="Plates">Plates</option>
        </select>

    </p>
    <div>
        <!-- <a href="/search/{}"> --><input type="submit" name="submit">
    </div>

</form>
<br>
<div>

<button type="button" onclick="location.href = document.referrer; return false;">Back</button>
</div>


<script>
    $(function() {    
        $('#exercise-form').on('submit', evt => {
            evt.preventDefault();

            const formData = {
                equipment: $('.equipment_checkboxes').val(),
                category: $('.category_checkboxes').val()
            };
            console.log(formData);
             
            $.get('/choose_exercises.json', formData, (results) => {
                const exercise = results;
                var list_html = "<br>"
                list_html += "Results:"
                list_html += "<ul>";
                for (var i = 0; i < exercise.length; i++) {
                    var obj = exercise[i];
                    list_html += "<a class='list-group-item list-group-item-action' data-id=" + obj.exercise_id + ">" + obj.name ;
                }
                list_html += "</ul>"
                $('#exercise_result').html(list_html);
            });
        });
    });
</script>

<script>
    $(function() {
        $('#exercise_result').on('click', function(evt) {
            evt.preventDefault();

            const $evt = $(evt.target);
            const id = $evt.data('id');
            const url = '/addexercises/' + id;
            console.log("id: ", id);

            $.get('/search/' + id, id);
            // $('.detail-form').attr('action', url);
            $('.detail-form').toggle();
        });
    });
</script>
<script>
    $(function() {
        $('.detail-form').on('submit', function(evt) {
            evt.preventDefault();


            const formData = {
                numberofsets: $('#set').val(),
                reps: $('#rep').val(),
                repunit: $('#repunit').val(),
                weights: $('#weights').val(),
                weightunit: $('#weightunit').val()
            };
            console.log(formData);
            $.post('/addexercises', formData)

        });
    });
</script>

<script>
    $(function(){
        $('.done').on('click',function(){
            location.href = '/addexercises'
        });
    });
</script>

{% endblock %}