{% extends 'base.html' %}
{% block content %}
<body class="dashboard-top">
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/todaydashboard">
        <img src="../static/17647.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Fitastic
    </a>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ session['username'] }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </li>
    </ul>
</nav>

<table class='container'>
    <tr>
        {% if not workout %}
        <th> Rest Day </th>
        {% else %}
        <th class="workout">{{ workout.scheduled_at }} {{ workout.description }} </th>
        <a href="/add_more_exercises/{{workout.workout_id}}">Add more exercise</a>
        <br>
        <a href="/todaydashboard"> Back to Main Dashboard</a>
        {% endif %}
    </tr>
    {% if not workout %}
    No workout scheduled
    {% else %}
    {% for exercise in workout.exercises %}


    <tr>
        <td> 
            {{ exercise.name }}
            <div class = "row">
                <form action='/deleteexercises/{{exercise.exercise_id}}' method="POST" class="delete-exericise">
                    <input type="hidden" name="exercise_id" value="{{exercise.exercise_id}}" class="to_delete">
                    <button type="submit" value="Delete" class="form-submit-button btn navbar-btn btn-default"><i class="fas fa-trash-alt"></i></button>
                </form>
                <form action='/updateexercises/{{exercise.exercise_id}}' class="update-exercise">
                    <input type="hidden" name="exercise_id" value="{{exercise.exercise_id}}" class="to_update">
                    <button type="submit" value="Update" class="form-submit-button btn navbar-btn btn-primary"><i class="fas fa-edit"></i></button>
                    </form>
                </div>
                Equipments:
                {% for equipment in exercise.equipments %}
                {{ equipment.equipment_name }}
                {% endfor %}
                <br>
                {{ exercise.set_number }} x {{ exercise.rep_number }} {{ exercise.rep_unit.rep_unit_name }} at {{ exercise.weight }} {{ exercise.weight_unit.weight_unit_name }}
                    <br>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                          Instructions</button>


                        <!-- Modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{ exercise.name }} </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Instruction: {{ exercise.description | safe }}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
       
    </div>
</td>
</tr>
{% endfor %}
{% endif %}
</table>

<div class="detail-form">
    <form id="detail-form" action="/addexercises" method="POST">
        <p>
            <br>
            <label> Select set number</label>
            <select name="numberofsets" id="set">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <br>
            <label> Enter reps for each set</label>
            <input type="text" name="reps" id="rep" required>
            <select name="repunit" id="repunit">
                <option value="Kilometers">Kilometers</option>
                <option value="Miles">Miles</option>
                <option value="Minutes">Minutes</option>
                <option value="Repetitions">Repetitions</option>
                <option value="Seconds">Seconds</option>
                <option value="Until Failure">Until Failure</option>
            </select>

            <br>
            <label> Enter weights for each rep</label>
            <input type="text" name="weights" id="weights">
            <select name="weightunit" id="weightunit">
                <option value="Body Weight">Body Weight</option>
                <option value="kg">kg</option>
                <option value="Kilometers Per Hour">Kilometers Per Hour</option>
                <option value="lb">lb</option>
                <option value="Miles Per Hour">Miles Per Hour</option>
                <option value="Plates">Plates</option>
            </select>
        </p>
        <div>
        <!-- <a href="/search/{}"> --><input type="submit" name="submit">
        </div>
    </form>
<div>
</body>

<script>
    $(function() {
        $('.update-exercise').on('submit', function(evt) {
            evt.preventDefault();
            const $this = $(this);
            const exercise_id = $this.find('.to_update').val();
            console.log(exercise_id)
            $.get('/search/' + exercise_id);
            $('#detail-form').attr('data-id', exercise_id);
            $('.detail-form').toggle();
        });
    });
</script>

<script>
    $(function(revertFunc) {
        $('.delete-exericise').on('submit', function(evt) {
            evt.preventDefault();
            const $this = $(this);
            console.log($this);
            const msg = "Are you sure to delete this exercise?";
            // const exercise_id = $this.data('id');
            const exercise_id = $this.find('.to_delete').val();
            console.log("exercise_id:", exercise_id);
            // const exercise_id = $('.to_delete').val();

            if (!confirm(msg)) {
                revertFunc();
            }
            else {
                $.post('/deleteexercises' + '/'+ exercise_id, (results) => {
                    location.reload();
                });
            }
        });
    });
</script>

<script>
    $(function() {
        $('.detail-form').on('submit', function(evt) {
            evt.preventDefault();
            const $this = $(this);
            const exercise_id = $this.find("#detail-form").data('id');
            const formData = {
                numberofsets: $('#set').val(),
                reps: $('#rep').val(),
                repunit: $('#repunit').val(),
                weights: $('#weights').val(),
                weightunit: $('#weightunit').val()
            };
            console.log(formData);
            $.post('/addexercises.json' + '/'+ exercise_id, formData, (results) =>{
               location.reload();

            });
            

        });
    });
</script>

{% endblock %}