{% extends 'base.html' %}
{% block content %}
<body class='page-top'>
    <header>
  
        <div class="container-1">
            <div class="intro-text">
                <div class="intro-heading">WECLOME TO FITASTIC.</div>
                <div class="intro-lead-in">Your Body.</div>
                <div class="intro-lead-in">Your Workouts.</div>
                <div class="intro-lead-in">Your Schedules.</div>
                <div class="intro-lead-in">Your Personal Trainer.</div>
                <a href="/register" class="page-scroll btn btn-xl" style="margin-top: 1em;"> Register </a>
                <a href="/login" class="page-scroll btn btn-xl" style="margin-top: 1em;"> Login </a>
            </div>
        </div>
    </header>
</body>

{% endblock %}