{% extends 'base.html' %}
{% block content %}

<h1>Register</h1>

<form action="register" method="POST">

  <div>
    <label>
      Username
      <input type="username" name="username">
    </label>
  </div>

  <div>
    <label>
      Password
      <input type="password" name="password">
    </label>
  </div>

  <div>
    <label>
      Age
      <input type="number" name="age">
    </label>
  </div>

  <div>
    <label>
      Gender
      <input type="text" name="gender">
    </label>
  </div>

  <div>
    <input type="submit" value="Register">
  </div>

</form>

{% endblock %}