{% extends 'base.html' %}
{% block content %}

<form id="createworkoutform" action="/create_workout" method="POST">
    <input type="submit" value="Create your workout">
</form>
<div>
    <h1>Workout Schedule</h1>
    {% for (day, workouts) in day_workout_list.items() %}
       
        <h3>{{ day }}</h3>
            {% if not workouts %}
                <span>rest day</span>
            {% else %}
                {% for workout in workouts %}
                    {% for exercise in workout.exercises %}
                        <li>
                            {{ exercise.name }} 
                            <form action='/deleteexercises/{{exercise.exercise_id}}' method="POST">
                                <input type="hidden" name="exercise_id" value="{{exercise.exercise_id}}">
                                <input type="submit" value="Delete">
                            </form>
                            <form action='/updateexercises/{{exercise.exercise_id}}'>
                                <input type="hidden" name="exercise_id" value="{{exercise.exercise_id}}">
                                <input type="submit" value="Update">
                            </form>
                            
                            <div>{{exercise.set_number}} x {{exercise.rep_number}} {{exercise.rep_unit.rep_unit_name}} at {{ exercise.weight }} {{ exercise.weight_unit.weight_unit_name}} 
                            <br>
                            Description: {{exercise.description | safe}}
                            <br>
                            Equipments:
                            {% for equipment in exercise.equipments %}
                                {{equipment.equipment_name}}
                            {% endfor %}
                        </div>
                        </li>
                        <div>
                            {% for image in exercise.images %}
                            <img src={{ image.image_link }} height="42" width="42">
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        <br>
    {% endfor %}
</div>
<!--     <div id='calendar'></div> -->
<script>
    $(document).ready(function() {
        let events = [];
        {% for workout in workout_schedule %}
        event = {};
        event.id = '{{workout.workout_id}}'
        event.title = '{{workout.description}}'
        event.start = '{{workout.scheduled_at}}'


        // {% for exercise in workout.exercises %}
        // event.description = '{{exercise.name}}'
        // {% endfor %}
        events.push(event)
        {% endfor %}
        console.log(events)
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            height: 650,
            aspectRatio: 1,
            events: events,
            editable: true,

            eventDrop: function(event, dayDelta, revertFunc) {
                let msg = "Are you sure you want to move the workout \"" +
                        event.title +
                        "\" to " +
                        event.start.format() +
                        "?"
                if (!confirm(msg)) {
                    revertFunc();
                }

                $.ajax({
                    url: '/reschedule_workout',
                    data: {
                        id: event.id,
                        newDate: event.start.format()
                    },
                    type: 'POST',
                    // success: function(data) {
                    //     $('#calendar').empty();
                    //     loadCalendar();
                    // }
                });
            }
            // eventRender: function(event, element) {
            //     element.popover({
            //         title : event.title,
            //         html:true,
            //         content:$('<div>test</div>'),
            //         trigger:'hover',
            //         placement:'top',
            //         container:'body'


            //     });
                
            // }
            // eventClick:function(event) {
            //     alert('Event:' + event.title);
            //     $.ajax({
            //         url: '/dashboard'
            //     });
            // }
        });
    });
</script>

<div id='calendar'></div>

{% endblock %}
